@media all and (max-width: 1200px) {
    .services-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 2fr);
    }

    .projects-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .projects-menu {
        height: 100px;
        max-width: 903px;
        padding: 10px 0 0 0;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects-menu span {
        margin: 0 auto;
        white-space: nowrap;
    }

    .article {
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 900px;
    }

    .flex-end {
        justify-content: center;
    }

    .flex-start {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .article-divider {
        width: 900px;
        height: 100px;
        background-color: #15263E;
    }

    .article-divider span {
        font-size: 28px;
        transform: rotate(0);
    }

    .article-info {
        width: 900px;
        height: 900px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .b .article-info {
        padding: 0;
    }

    .article-bg {
        width: 900px;
        height: 900px;
    }

    .teams-cont {
        width: 80%;
    }
}

@media all and (max-width: 1024px) {
    .container-a {
        max-width: 768px;
    }

    .container-b {
        max-width: 768px;
    }

    .logo span {
        font-size: 13px;
        color: #B3B3B3;
        margin-top: -10px;
        text-align: center;
    }

    .logo a {
        font-size: 40px;
        font-weight: bold;
        color: #222;
    }

    .logo a span {
        font-size: 33px;
        font-weight: bold;
        color: #0081FF;
    }

    .profile-cont {
        flex-direction: column;
    }

    .profile-img {
        height: 400px;
        max-width: 400px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profileBg {
        height: 400px;
        max-width: 400px;
    }

    .profile-desc {
        text-align: center;
    }

    .profile-desc h1 {
        font-size: 30px;
    }

    .profile-desc h2 {
        font-size: 20px;
    }

    .profile-desc p {
        font-size: 16px;
    }

    .profile-socials a {
        font-size: 16px;
    }

    .landing-bottom {
        justify-content: center;
    }

    .landing-bottom .landing-text {
        padding: 0 20px 10px 20px;
    }

    .info-cont {
        flex-direction: column;
    }

    .info-about {
        text-align: center;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .info-about button {
        margin-top: 20px;
    }

    .info-image {
        height: 450px;
        max-width: 330px;
    }

    .info-skills {
        margin-top: 30px;
        margin-left: 0;
    }

    .skills {
        text-align: center;
    }

    .info-skills .profile-socials {
        justify-content: center;
    }

    #loc {
        padding: 20px 23.10px 20px 23.10px;
    }

    .info-bottom-contact i {
        font-size: 20px;
        padding: 20px;
    }

    .info-bottom-contact div h5 {
        font-size: 20px;
    }

    .info-bottom-contact div span {
        font-size: 11px;
    }

    .services-grid {
        grid-gap: 40px;
        grid-template-columns: repeat(2, 2fr);
    }

    .services-bottom {
        min-height: 570px;
        height: 100%;
    }

    .services-bottom-cont {
        flex-direction: column;
        justify-content: center;
        padding: 50px 0 20px 0;
    }

    .reviewer {
        flex-direction: column-reverse;
    }

    .dots {
        flex-direction: row;
        margin-top: 30px;
    }

    .dot {
        width: 17px;
        height: 17px;
        margin-right: 10px;
    }

    .review {
        margin-top: 20px;
        margin-right: 0;
        text-align: center;
        width: 90%;
    }

    .reviewer-info {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 2fr);
    }

    .projects-menu {
        max-width: 603px;
    }

    .projects-menu span {
        font-size: 13px;
    }

    .article-divider {
        width: 600px;
    }

    .article-info {
        width: 600px;
    }

    .article-bg {
        width: 600px;
    }

    .teams-cont {
        width: auto;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 2fr);
        grid-row-gap: 50px;
    }

    .teams-vector-info:not(:last-child) {
        margin-right: 0;
    }

    .last {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .container-a {
        max-width: 480px;
    }

    .container-b {
        max-width: 480px;
    }

    .logo span {
        font-size: 11px;
    }

    .logo a {
        font-size: 30px;
    }

    .logo a span {
        font-size: 20px;
    }

    .about-a {
        font-size: 30px;
    }

    .about-b {
        font-size: 100px;
    }

    .info-bottom-contact {
        flex-direction: column;
        text-align: center;
    }

    .info-bottom-contact i {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .services-grid {
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 7px;
    }

    .projects h2 {
        font-size: 40px;
    }

    .articles h2 {
        font-size: 40px;
    }

    .teams h2 {
        font-size: 40px;
    }

    .projects-menu {
        height: 170px;
        max-width: 303px;
        text-align: center;
        padding: 0;
        margin: 0 auto 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "all all all";
    }

    .projects-menu #all {
        grid-area: all;
    }

    .article-divider {
        width: 300px;
    }

    .article-info {
        width: 300px;
        border-radius: 2px;
    }

    .article-bg {
        width: 300px;
        border-radius: 2px;
    }

    .article-info .vector {
        height: 70px;
        width: 70px;
    }

    .article-info .vector i {
        font-size: 20px;
    }

    .article-info span {
        font-size: 11px;
    }

    .article-info p {
        font-size: 13px;
        width: 280px;
    }

    .article-info a {
        font-size: 13px;
    }

    .article-info h3 {
        font-size: 28px;
        white-space: nowrap;
    }

    .teams-vector-info .teams-hide {
        height: calc(179px - 40%);
        width: calc(207px - 40%);
    }
}

@media all and (max-width: 480px) {
    header {
        height: 850px;
    }

    .profile-img {
        height: 300px;
        max-width: 300px;
    }

    .profileBg {
        height: 300px;
        max-width: 300px;
    }

    #loc {
        padding: 15px 17.10px 15px 17.10px;
    }

    .info-bottom-contact i {
        font-size: 15px;
        padding: 15px;
    }

    .info-bottom-contact div h5 {
        font-size: 15px;
    }

    .info-bottom-contact div span {
        font-size: 8px;
    }

    .contact-cont {
        max-width: 310px;
    }

    .footer-cont p {
        max-width: 350px;
    }

    .footer-bottom div {
        max-width: 310px;
    }
}