@media all and (max-width: 1200px) {
    .services-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 2fr);
    }
}

@media all and (max-width: 1024px) {
    .container-a {
        max-width: 768px;
    }

    .container-b {
        max-width: 768px;
    }

    .logo span {
        font-size: 13px;
        color: #B3B3B3;
        margin-top: -10px;
        text-align: center;
    }

    .logo a {
        font-size: 40px;
        font-weight: bold;
        color: #222;
    }

    .logo a span {
        font-size: 33px;
        font-weight: bold;
        color: #0081FF;
    }

    .profile-cont {
        flex-direction: column;
    }

    .profile-img {
        height: 400px;
        max-width: 400px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profileBg {
        height: 400px;
        max-width: 400px;
    }

    .profile-desc {
        text-align: center;
    }

    .profile-desc h1 {
        font-size: 30px;
    }

    .profile-desc h2 {
        font-size: 20px;
    }

    .profile-desc p {
        font-size: 16px;
    }

    .profile-socials a {
        font-size: 16px;
    }

    .landing-bottom {
        justify-content: center;
    }

    .landing-bottom .landing-text {
        padding: 0 20px 10px 20px;
    }

    .info-cont {
        flex-direction: column;
    }

    .info-about {
        text-align: center;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .info-about button {
        margin-top: 20px;
    }

    .info-image {
        height: 450px;
        max-width: 330px;
    }

    .info-skills {
        margin-top: 30px;
        margin-left: 0;
    }

    .skills {
        text-align: center;
    }

    .info-skills .profile-socials {
        justify-content: center;
    }

    #loc {
        padding: 20px 23.10px 20px 23.10px;
    }

    .info-bottom-contact i {
        font-size: 20px;
        padding: 20px;
    }

    .info-bottom-contact div h5 {
        font-size: 20px;
    }

    .info-bottom-contact div span {
        font-size: 11px;
    }

    .services-grid {
        grid-gap: 40px;
        grid-template-columns: repeat(2, 2fr);
    }

    .services-bottom {
        min-height: 570px;
        height: 100%;
    }

    .services-bottom-cont {
        flex-direction: column;
        justify-content: center;
        padding: 50px 0 20px 0;
    }

    .reviewer {
        flex-direction: column-reverse;
    }

    .dots {
        flex-direction: row;
        margin-top: 30px;
    }

    .dot {
        width: 17px;
        height: 17px;
        margin-right: 10px;
    }

    .review {
        margin-top: 20px;
        margin-right: 0;
        text-align: center;
    }

    .reviewer-info {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 768px) {
    .container-a {
        max-width: 480px;
    }

    .container-b {
        max-width: 480px;
    }

    .logo span {
        font-size: 11px;
    }

    .logo a {
        font-size: 30px;
    }

    .logo a span {
        font-size: 20px;
    }

    .about-a {
        font-size: 30px;
    }

    .about-b {
        font-size: 100px;
    }

    .info-bottom-contact {
        flex-direction: column;
        text-align: center;
    }

    .info-bottom-contact i {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .services-grid {
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (max-width: 480px) {
    header {
        height: 850px;
    }

    .profile-img {
        height: 300px;
        max-width: 300px;
    }

    .profileBg {
        height: 300px;
        max-width: 300px;
    }

    #loc {
        padding: 15px 17.10px 15px 17.10px;
    }

    .info-bottom-contact i {
        font-size: 15px;
        padding: 15px;
    }

    .info-bottom-contact div h5 {
        font-size: 15px;
    }

    .info-bottom-contact div span {
        font-size: 8px;
    }
}