@media all and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .logo span {
        font-size: 13px;
        color: #B3B3B3;
        margin-top: -10px;
        text-align: center;
    }

    .logo a {
        font-size: 40px;
        font-weight: bold;
        color: #222;
    }

    .logo a span {
        font-size: 33px;
        font-weight: bold;
        color: #0081FF;
    }

    .profile-cont {
        flex-direction: column;
    }

    .profile-img {
        height: 400px;
        max-width: 400px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profileBg {
        height: 400px;
        max-width: 400px;
    }

    .profile-desc {
        text-align: center;
    }

    .profile-desc h1 {
        font-size: 30px;
    }

    .profile-desc h2 {
        font-size: 20px;
    }

    .profile-desc p {
        font-size: 16px;
    }

    .profile-socials a {
        font-size: 16px;
    }

    .landing-bottom {
        justify-content: center;
    }

    .landing-bottom .landing-text {
        padding: 0 20px 10px 20px;
    }
}

@media all and (max-width: 768px) {
    .container {
        max-width: 480px;
    }

    .logo span {
        font-size: 11px;
    }

    .logo a {
        font-size: 30px;
    }

    .logo a span {
        font-size: 20px;
    }

    .about-a {
        font-size: 30px;
    }

    .about-b {
        font-size: 100px;
    }
}

@media all and (max-width: 480px) {
    header {
        height: 850px;
    }

    .profile-img {
        height: 300px;
        max-width: 300px;
    }

    .profileBg {
        height: 300px;
        max-width: 300px;
    }
}